.app {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  padding: 50px;
} 

.column-wrapper {
  display: flex;
}

.column {
  flex-grow: 1;
  flex-basis: 0;
}

.resizable-box {
  box-sizing: border-box;
  flex: 1 1 auto;
  min-width: 0;
  overflow-x: scroll;
  padding: 5px;
}

.separator {
  width: 32px;
  padding: 0;
  flex: 0 0 auto;
}

.separator::before {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  margin: 0 auto;
  background: lightgray;

}

.dna-name {
  font-size: 20px;
  font-variant: small-caps;
  margin-bottom: 5px;
}

.dna-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.input-label {
  font-size: 12px;
  margin-right: 5px;
}

.zome-list {
  border: 1px solid #C455A6;
  margin: 25px 0px;
}

.zome-list-header {
  padding: 10px;
  color: #65A9CE;
}

.zome {
  border-top: 1px solid #C455A6;
  padding: 10px;
}

.zome-name {
  display: flex;
  flex-direction: row;  
}

.zome-description {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #555;
}

.zome-functions {
  border-bottom: 1px solid #C2F45D;
  margin-left: 5px;
}

.zome-functions-header {
  margin-bottom: 5px;
  color: #65A9CE;
}

.zome-functions-empty-state {
  font-size: 12px;  
  margin: 15px 0px;
  color: #555;
}

.zome-function {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #C2F45D;
  border-left: 1px solid #C2F45D;  
  border-right: 1px solid #C2F45D;    
  padding: 10px 10px 10px 10px;
}

.zome-function-header {
  display: flex;
  flex-direction: column;
}

.function-name {
  display: flex;
  flex-direction: row;
}

.zome-function-signature {
  font-size: 12px;  
  margin: 10px 0px;
}

.zome-function-signature-label {
  margin: 5px 0px;
  color: #555;
}

.zome-function-signature-row {

}

.call-button {
  font-size: 20px;
  padding: 3px 0px;
}

.call-error {
  margin: 15px 0px;
  padding: 15px 20px;
  font-size: 14px; 
  border: 2px solid red;
}

.expand-button-icon {
  margin-left: 10px;
  margin-top: 3px;
}

.filter-row {
  margin-bottom: 25px;
  margin-top: 61px;
}

.call-record {
  border: 1px solid lightgray;
  margin: 5px 0px;
  padding: 0px 15px;
  overflow: scroll;
  max-width: 500px;
}

.call-record-path {
  margin: 10px 0px;
  font-size: 14px;  
}

.call-record-title {
  margin: 5px 0px;
  font-size: 12px;  
  color: #555;
}

/* utils */

.clickable-div {
  cursor: pointer;
  user-select: none;
}